body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    flex-direction: column;
}

.box-green,
.box-purple,
.box-blue {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.box-green {
  background-color: green;
}

.box-purple {
  background-color: purple;
}

.box-blue {
  background-color: blue;
}
.conatainer{
  
  padding: 50px 20px;
margin-top: 20px;
}
.smile,.sad,.angry{
  font-size: 5rem;
  
}
.smile{
  color: rgb(255, 170, 0);
}
.sad{
  color:rgb(20, 220, 80)
}
.angry{
  color: red;
}